@tailwind base;
@tailwind components;
@tailwind utilities;

/* h1 {
  color: rgb(180, 43, 169);
}

h2 {
  color: rgb(80, 190, 163);
}

#btn {
  color: aqua;
  background-color: chocolate;
  cursor: pointer;
}

#btn:hover {
  background-color: rgb(255, 255, 255);
} */